@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.title-welcome {
  color: #fff;
  margin-left: 250px;
  padding-top: 80px;
  text-align: center;
  font-weight: 700;
  font: italic bold 100px Georgia, Serif;
  text-shadow: -4px 3px 0 #d4dce0, -14px 7px 0 #0a0e27;
}
.currentDay {
  color: #fff;
  margin-top: 100px;
  margin-left: 300px;
  text-align: center;
  font-weight: 500;
  font: italic bold 70px Georgia, Serif;
  text-shadow: -4px 3px 0 #d4dce0, -14px 7px 0 #0a0e27;
}

.container-welcome {
  background-image: url(../../img/geeks-2894621.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100vw;
}


@media (max-width: 1200px) {

  .title-welcome {
    margin-left: 0;
    padding-top: 20px;
    text-shadow: -2px 1.5px 0 #d4dce0, -7px 3.5px 0 #0a0e27;
  }
  .currentDay {
    margin-left: 0px;
    padding: 10px;
    text-shadow: -2px 1.5px 0 #d4dce0, -7px 3.5px 0 #0a0e27;
  }

  @media (max-width: 992px) {
  }
  .title-welcome {
    font-size: 50px;
  }
  .currentDay {
    font-size: 50px;
  }
}
