@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
.JokeContainerCss {
  text-align: center;
  min-height: 430px;
  max-width: 790px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.JokeTitle {
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
}
.Joke {
  font-size: 1.5em;
  font-family: 'Indie Flower', cursive;
  height: auto;
  min-height: 70px;
}

.style-card {
  background-image: url(./img/sun-1383638_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  margin-bottom: 5px;
  max-width: 780px;
}

.card-body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.con-button {
  margin: 1px;
  position: absolute;
  top: 0;
  right: 0;
}
.container-form {
  margin-top: 30px;
  margin-left: 20%;
}
.titul-Weather {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  margin-top: 30px;
  text-align: center;
}
